<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
   <connectionStrings>
      <!--<add name="conString" connectionString="Data Source=CHIRAG-LAPPY\MSSQLSERVER2014;Initial Catalog=Eservicescare;user id=sa; password=admin@123" providerName="System.Data.SqlClient" />
      <add name="EservicescareConnectionString" connectionString="Data Source=CHIRAG-LAPPY\MSSQLSERVER2014;Initial Catalog=Eservicescare;User ID=sa;Password=admin@123" providerName="System.Data.SqlClient" />-->
     <add name="conString" connectionString="Data Source=localhost;Initial Catalog=nslcompo_eservicescare;user id=nslcompo_eservicescare; password=admin@123" providerName="System.Data.SqlClient" />
     <add name="EservicescareConnectionString" connectionString="Data Source=localhost;Initial Catalog=nslcompo_eservicescare;User ID=nslcompo_eservicescare;Password=admin@123" providerName="System.Data.SqlClient" />
   </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime maxRequestLength="1073741824" targetFramework="4.5"/>
    <customErrors mode="Off"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <defaultDocument enabled="true">
      <files>
        <add value="home.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>